body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

/* Header */
header {
    background: linear-gradient(90deg, #004d00, #0a7a0a);
    color: white;
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid gold;
}

header h1 {
    margin: 0;
    font-size: 22px;
    font-weight: bold;
}

nav a {
    margin-left: 20px;
    color: gold;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: white;
}

#runteks-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

/* Mode teks DIAM (tengah) */
.centered {
    animation: none !important;
}

/* Mode MARQUEE (jalan) */
.marquee {
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    animation: marquee 8s linear infinite;
}

/* Efek pudar jadwal sholat */
.fade {
    opacity: 0;
    transition: opacity 1s;
}

/* Banner */
#banner {
    width: 100%;
    height: 250px;
    background: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid gold;
}

#banner img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}


@keyframes marquee {
    0%   { left: 100%; }
    100% { left: -200%; }
}
