body {
    margin: 0;
    font-family: Arial;
    background: white;
}

/* HEADER */
header {
    background: black;
    color: gold;
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    align-items: center;
}

.logo-area {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo {
    width: 60px;
    height: 60px;
}

nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
}

/* RUNTEKS */
.runteks-wrapper {
    background: #0a5f2f;
    color: white;
}

.runteks {
    overflow: hidden;
    white-space: nowrap;
    border-bottom: 1px solid gold;
}

#r1-text {
    display: inline-block;
    padding-left: 100%;
    animation: run1 12s linear infinite;
}

@keyframes run1 {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

.runteks-center {
    text-align: center;
    font-weight: bold;
    padding: 10px;
}

/* BANNER */
.banner {
    width: 100%;
    max-height: 320px;
    object-fit: cover;
}

/* DESKRIPSI */
.deskripsi {
    padding: 20px;
    text-align: center;
}

/* MAP + ADDRESS */
.lokasi {
    padding: 20px;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.map iframe {
    width: 300px;
    height: 180px;
    border-radius: 10px;
}

footer {
    background: black;
    color: gold;
    text-align: center;
    padding: 10px;
}
