#runteks-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

/* Mode teks DIAM (tengah) */
.centered {
    animation: none !important;
}

/* Mode MARQUEE (jalan) */
.marquee {
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    animation: marquee 8s linear infinite;
}

/* Efek pudar jadwal sholat */
.fade {
    opacity: 0;
    transition: opacity 1s;
}

@keyframes marquee {
    0%   { left: 100%; }
    100% { left: -200%; }
}
