/* RUNTEKS */
#runteks-container {
    width: 100%;
    background: black;
    color: gold;
    padding: 10px 0;
    overflow: hidden;
    position: relative;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#runteks-text {
    white-space: nowrap;
    position: absolute;
    font-weight: bold;
    font-size: 18px;
}

/* Animasi marquee */
.marquee {
    animation: marquee 8s linear infinite;
}

@keyframes marquee {
    from { left: 100%; }
    to { left: -100%; }
}

/* Fade effect untuk jadwal sholat */
.fade {
    animation: fadeEffect 1s ease-in-out;
}

@keyframes fadeEffect {
    from { opacity: 0; }
    to { opacity: 1; }
}
