body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: white;
}

/* RUNTEKS */
.running-text {
    background: #006400;
    color: gold;
    padding: 5px 0;
}

/* HEADER */
header {
    text-align: center;
    padding: 20px;
    background: #fff;
    color: black;
    border-bottom: 3px solid #006400;
}

header h1 {
    margin: 0;
    color: #006400;
}

/* IMAGE SECTION */
.image-section {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.image-section img {
    width: 90%;
    max-width: 900px;
    border: 5px solid gold;
    border-radius: 10px;
}

/* MAP */
.map-container {
    width: 100%;
    padding: 20px;
}

.map-container iframe {
    width: 100%;
    height: 350px;
    border: 3px solid #000;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #006400;
    color: gold;
    font-weight: bold;
}
